<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Rails テンプレート</title>
    <meta name="description" content="本サイトはRailsのテンプレートです。">
    <meta name="keywords" content="Rails, テンプレート, リスト">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div id="wrap">
      <%= render '/shared/header' %>
      <% if notice.present? %>
      <div class="alert alert-success">
        <%= notice %>
      </div>
      <% end %>
      <main>
        <%= yield %>
      </main>
      <%= render '/shared/footer' %>
    </div>
  </body>
</html>
